.nameBar {
  display: block;
  background-color: grey;
  color: black;
  font-size: 2em;
  height: 4em;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 1em;
}

.foot {
  width: 100%;
  display: block;
  clear: left;
  text-align: center;
  padding: 40px 0px 20px;
}
