#backgroundBox {
  background-color: blue;
  width: 75%;
  height: 100%;
  padding-top: 2em;
  margin-left: 12%;

}

/*#hOneStyle {
  padding-top: 30px;
}*/

.article-data {
  list-style-type: none;

}

.summaryTest {
  border-bottom: 2px solid red;
  margin: 10px;
  padding: 10px;
}

#titleStyle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  padding-top: .5em;
  margin-top: .5em;

}

.date {
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 1em;
}

#previewBox {
  display: inline;
  float: left;
  margin-bottom: 5em;
  background-color: orange;
}

#previewImg {
  display: block;
  float: left;
  padding-right: 10px;
  width: 15%;
  height: 15%;
}

#descriptionStyle {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 1.5em;
}

#filters {
  list-style-type: none;
}

#filterStyle {
  float: left;
}
